@model IEnumerable<Team1FinalProject.Models.InvoiceDet>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuantityOrdered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityArrived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityOrdered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityArrived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvoiceDetID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InvoiceDetID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InvoiceDetID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
