@model Team1FinalProject.Models.Review

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Select a Past Book:</label>
                <div>
                    @Html.DropDownList("SelectedBook", (SelectList)ViewBag.prevBooks, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ReviewContent" class="control-label"></label>
                <input asp-for="ReviewContent" class="form-control" />
                <span asp-validation-for="ReviewContent" class="text-danger"></span>
            </div>

            <div class="form-group">
                Rating:
                <label class="radio">@Html.RadioButton("SelectedRating",1.0m) 1</label>
                <label class="radio">@Html.RadioButton("SelectedRating",2.0m) 2</label>
                <label class="radio">@Html.RadioButton("SelectedRating",3.0m) 3</label>
                <label class="radio">@Html.RadioButton("SelectedRating",4.0m) 4</label>
                <label class="radio">@Html.RadioButton("SelectedRating",5.0m) 5</label>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
